@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --background: #f5f5f5;
    --text: #111;
    --border: #03a89e;
}

.bg {
    background-color: var(--background);
}

.text {
    color: var(--text);
}

.text-teal_ {
    color: var(--border);
}

.text-heading {
    color: var(--text);
    font: 1.5rem/1.5 "Inter", sans-serif;
    /* font-size: 1.5rem; */
    font-weight: 600;
    letter-spacing: 0.1rem;
    margin-bottom: 1.6rem;
    padding-bottom: 0.3rem;
    border-bottom: 3px solid rgba(244, 63, 94, 1);
    display: inline-block;
}

.text-subheading {
    color: var(--text);
    font: 1.25rem/1.5 "Inter", sans-serif;
    font-weight: 600;
    letter-spacing: 0.1rem;
    margin-bottom: 0.3rem;
    display: inline-block;
}

.social a:not(:last-child)::after {
    content: "/";
    padding: 0 4px;
}

.bg-nav {
    background-color: var(--text);
}

.section {
    margin-bottom: 1.3rem;
}

.font-inter {
    font: 16px/1.5 "Inter", sans-serif;
    /* font-family: "Inter", sans-serif; */
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

/* Tree Shape */
.gallery {
    border: solid 1px #eeeeee;
    padding: 0.5vw;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: auto;
    grid-gap: 0.2vw;
}

.gallery-item {
    background-size: cover;
    background-position: center;
    padding: 0vw;
    font-size: 0.8em;
    box-sizing: border-box;
}

.gallery-item:hover {
    cursor: pointer;
    transition: cubic-bezier(0.95, 0.05, 0.795, 0.035);
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}